@font-face {
  font-family: "iconfont"; /* Project id 2847767 */
  src: url('iconfont.woff2?t=1633229698341') format('woff2'),
       url('iconfont.woff?t=1633229698341') format('woff'),
       url('iconfont.ttf?t=1633229698341') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 40px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-share:before {
  content: "\e67d";
}

