.demo {
    font-family: sans-serif;
    border: 1px solid #eee;
    border-radius: 2px;
    padding: 20px 30px;
    margin-top: 1em;
    margin-bottom: 40px;
    user-select: none;
    overflow-x: auto;
}
#test{
    font-family: sans-serif;
    border: 1px solid tomato;
    border-radius: 2px;
    padding: 20px 30px;
    margin-top: 1em;
    margin-bottom: 40px;
    user-select: none;
    overflow-x: auto;
    color: lightcoral;
}
.active{
    background-color: #bd2c00;
}
.static{
    color: #795da3;
}

#demo3{
    color: lightpink;
    border: grey 3px solid;
    cursor: pointer;
}